@if (OverdueDays == 0)
{
    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="@ProgressPercent" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar" style="width: @ProgressPercent%">
            @GetPromotionDifferenceMessage()
        </div>
    </div>
}
else
{
    (int progressBar1, int progressBar2) = OverdueProgressPercent;

    <div class="progress-stacked">
        <div class="progress" role="progressbar" aria-label="Segment one" aria-valuenow="@progressBar1" aria-valuemin="0" aria-valuemax="100" style="width: @progressBar1%">
            <div class="progress-bar bg-success">
                @(progressBar1 > 50 ? GetPromotionDifferenceMessage() : "")
            </div>
        </div>
        <div class="progress" role="progressbar" aria-label="Segment two" aria-valuenow="@progressBar2" aria-valuemin="0" aria-valuemax="100" style="width: @progressBar2%">
            <div class="progress-bar bg-warning">
                @(progressBar2 >= 50 ? GetPromotionDifferenceMessage() : "")
            </div>
        </div>
    </div>
}
