@page "/cadet-tasks"

<div>
    
    <div>@GetStatusIcon(LearnToLead ?? true)Learn To Lead: <TaskDisplay TaskStatus="LearnToLead ?? true" Date1="LeadLabDate" Date2="LeadInteractiveDate" /></div>
    <div>@GetStatusIcon(Aerospace ?? true)Aerospace: <TaskDisplay TaskStatus="Aerospace ?? true" Date1="AeDate" Date2="AeInteractiveDate" /></div>
    <div>@GetStatusIcon(DrillAndCeremonies ?? true)Drill And Ceremonies: <TaskDisplay TaskStatus="DrillAndCeremonies ?? true" Date1="DrillDate" /></div>
    <div>@GetStatusIcon(Fitness ?? true)Fitness: <TaskDisplay TaskStatus="Fitness ?? true" Date1="PhyFitTest" /></div>
    <div>@GetStatusIcon(Character ?? true)Character Development: @Character</div>
    <div>@GetStatusIcon(TimeInGradeComplete)Time in Grade: @NextPromotionDifference(NextApprovalDate!.Value)</div>
</div>
