@page "/cadet-tracker"
@namespace CAPSquadron_WebServer.Components

@if (CadetTrackers != null)
{
    <div class="row">
        <div class="col">
            @foreach (var group in CadetTrackers.GroupBy(ct => ct.AchievementName))
            {
                <div class="card shadow mb-3">
                    <h5 class="card-header">@group.Key</h5>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            @foreach (var cadet in group)
                            {
                                var attributes = MemberAttributes?.FirstOrDefault(ma => ma.Capid == cadet.Capid);
                                <li class="list-group-item border-black">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <div>
                                                    <span class="fs-3">@attributes?.Rank @cadet.LastName, @cadet.FirstName</span>
                                                    <a href="https://www.capnhq.gov/CAP.ProfessionalLevels.Web/Accomplishments/CadetPromotions?capid=@cadet.Capid" target="_blank">@cadet.Capid</a>
                                                </div>
                                            </div>
                                            <div class="col text-end">
                                                <MemberAttributesComponent Attributes="attributes" />
                                            </div>
                                            <div class="w-100"></div>
                                            <div class="col-3 my-2">
                                                <HexagonComponent LearnToLead="@cadet.LeardToLead" Aerospace="@cadet.Aerospace" DrillAndCeremonies="@cadet.DrillAndCeremonies" Fitness="@cadet.Fitness" Character="@cadet.Character" NextApprovalDate="@cadet.NextApprovalDate" />
                                            </div>
                                            <div class="col my-2">
                                                <CadetTasks LearnToLead="@cadet.LeardToLead" LeadLabDate="@cadet.LeadLabDate" LeadInteractiveDate="@cadet.LeadInteractiveDate"
                                                            Aerospace="@cadet.Aerospace" AeDate="@cadet.AeDate" AeInteractiveDate="@cadet.AeInteractiveDate"
                                                            DrillAndCeremonies="@cadet.DrillAndCeremonies" DrillDate="@cadet.DrillDate"
                                                            Fitness="@cadet.Fitness" PhyFitTest="@cadet.PhyFitTest"
                                                            Character="@cadet.Character"
                                                            NextApprovalDate="@cadet.NextApprovalDate" />
                                            </div>
                                            <div class="w-100"></div>
                                            <div class="col my-2">
                                                <div>Next Approval Date: <span class="fw-bold">@cadet.NextApprovalDate?.LocalDateTime.ToString("dd MMM yy")</span></div>
                                            </div>
                                            <div class="w-100"></div>
                                            <div class="col">
                                                @if (cadet.NextApprovalDate.HasValue)
                                                {
                                                    <PromotionProgressBar NextPromotionDate="cadet.NextApprovalDate.Value.LocalDateTime" />
                                                }
                                            </div>
                                            <div class="w-100"></div>
                                            <div class="col my-2">
                                                <CadetAttendanceReport JoinDate="attributes?.JoinDate!.Value" CapId="cadet.Capid" />
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
}
