@page "/flights/{FlightId:int}"
@using CAPSquadron_WebServer.Services
@using CAPSquadron_WebServer.Services.Flight
@using CAPSquadron_WebServer.Services.CadetTracker
@using CAPSquadron_WebServer.Services.Attendance
@using CAPSquadron_WebServer.Services.MemberAttribute
@using CAPSquadron_WebServer.Components

@inject IFlightService FlightService
@inject ICadetTrackerService CadetTrackerService
@inject IRetrieveDataService<Member> MemberService
@inject IMemberAttributeService MemberAttributeService
@inject NavigationManager Navigation

@code {
    [Parameter]
    public int FlightId { get; set; }
    private IEnumerable<MemberAttributesDto> memberAttributes = [];

    private FlightDto? flight;
    private List<PersonalCadetTrackerDto>? cadetTrackers;
    private Member? flightCommander;

    protected override async Task OnInitializedAsync()
    {
        flight = await FlightService.GetFlightByIdAsync(FlightId);

        var capids = flight.FlightSergeantIds.Concat(flight.MemberIds).ToList();
        capids.Add(flight.FlightCommanderId!.Value);
        cadetTrackers = (await CadetTrackerService.GetCadetTrackerByCapidsAsync(capids)).ToList();
        flightCommander = await MemberService.GetAsync(flight.FlightCommanderId.Value);

        memberAttributes = await MemberAttributeService.GetMemberAttributesAsync();
    }

    private string DisplayTask(bool? taskCompleted, DateTimeOffset? dateCompleted)
    {
        if (taskCompleted.HasValue && dateCompleted.HasValue)
            return dateCompleted.Value.LocalDateTime.ToShortDateString();

        return "-";
    }
}
@if (flight is not null)
{
    <h3>@flight.Name</h3>
    <h4>Flight Commander: @flightCommander?.FullName (@flightCommander?.Rank)</h4>

    @if (cadetTrackers is not null)
    {
        <div class="flight-details">
            @foreach (var group in cadetTrackers.GroupBy(ct => ct.AchievementName))
            {
                <div class="achievement-group">
                    <h5>@group.Key</h5>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th width="200"></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var cadet in group)
                            {
                                <tr>
                                    <td>
                                        <div class="d-flex flex-row">
                                            <div class="p-2"><a href="https://www.capnhq.gov/CAP.ProfessionalLevels.Web/Accomplishments/CadetPromotions?capid=@cadet.Capid" target="_blank">@cadet.Capid</a></div>
                                            <div class="p-2">
                                                @cadet.LastName, @cadet.FirstName
                                            </div>
                                        </div>
                                        <div class="d-flex">
                                            <div class="p-2"><MemberAttributesComponent Attributes="memberAttributes.FirstOrDefault(ma=> ma.Capid == cadet.Capid)" /></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex">
                                            <div class="p-2">
                                                <HexagonComponent LearnToLead="@cadet.LeardToLead" Aerospace="@cadet.Aerospace" DrillAndCeremonies="@cadet.DrillAndCeremonies" Fitness="@cadet.Fitness" Character="@cadet.Character" NextApprovalDate="@cadet.NextApprovalDate" />
                                            </div>
                                            <div class="p-2">
                                                <CadetTasks LearnToLead="@cadet.LeardToLead" LeadLabDate="@cadet.LeadLabDate" LeadInteractiveDate="@cadet.LeadInteractiveDate"
                                                            Aerospace="@cadet.Aerospace" AeDate="@cadet.AeDate" AeInteractiveDate="@cadet.AeInteractiveDate"
                                                            DrillAndCeremonies="@cadet.DrillAndCeremonies" DrillDate="@cadet.DrillDate"
                                                            Fitness="@cadet.Fitness" PhyFitTest="@cadet.PhyFitTest"
                                                            Character="@cadet.Character"
                                                            NextApprovalDate="@cadet.NextApprovalDate" />
                                            </div>
                                        </div>
                                        <div class="d-flex">
                                            <div class="p-2">Next Approval Date: @cadet.NextApprovalDate!.Value.LocalDateTime.ToShortDateString()</div>
                                            <div class="p-2">
                                                <PromotionProgressBar NextPromotionDate="cadet.NextApprovalDate.Value.LocalDateTime" />
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    }
    <style>
        .flight-details .achievement-group {
            margin-bottom: 20px;
        }
    </style>
}