@page "/cadet-tasks"
@using System

@code {
    [Parameter]
    public bool? LearnToLead { get; set; }
    [Parameter]
    public DateTimeOffset? LeadLabDate { get; set; }
    [Parameter]
    public DateTimeOffset? LeadInteractiveDate { get; set; }
    [Parameter]
    public bool? Aerospace { get; set; }
    [Parameter]
    public DateTimeOffset? AeDate { get; set; }
    [Parameter]
    public DateTimeOffset? AeInteractiveDate { get; set; }
    [Parameter]
    public bool? DrillAndCeremonies { get; set; }
    [Parameter]
    public DateTimeOffset? DrillDate { get; set; }
    [Parameter]
    public bool? Fitness { get; set; }
    [Parameter]
    public DateTimeOffset? PhyFitTest { get; set; }
    [Parameter]
    public bool? Character { get; set; }
    [Parameter]
    public DateTimeOffset? NextApprovalDate { get; set; }

    private bool TimeInGradeComplete => NextApprovalDate.HasValue && NextApprovalDate.Value <= DateTime.Now;
    private string GetStatusIcon(bool taskCompleted) => taskCompleted ? "✅ " : "❌ ";
    private string NextPromotionDifference(DateTimeOffset NextPromotionDate)
    {
        DateTime currentDate = DateTime.Now;
        var diff = (NextPromotionDate - currentDate).Days;

        return diff switch
        {
            > 0 => $"{diff} days until next promotion date",
            < 0 => $"{Math.Abs(diff)} days past your promition date",
            0 => "can promote today"
        };

    }
}

<div>
    
    <div>@GetStatusIcon(LearnToLead ?? true)Learn To Lead: <TaskDisplay TaskStatus="LearnToLead ?? true" Date1="LeadLabDate" Date2="LeadInteractiveDate" /></div>
    <div>@GetStatusIcon(Aerospace ?? true)Aerospace: <TaskDisplay TaskStatus="Aerospace ?? true" Date1="AeDate" Date2="AeInteractiveDate" /></div>
    <div>@GetStatusIcon(DrillAndCeremonies ?? true)Drill And Ceremonies: <TaskDisplay TaskStatus="DrillAndCeremonies ?? true" Date1="DrillDate" /></div>
    <div>@GetStatusIcon(Fitness ?? true)Fitness: <TaskDisplay TaskStatus="Fitness ?? true" Date1="PhyFitTest" /></div>
    <div>@GetStatusIcon(Character ?? true)Character Development: @Character</div>
    <div>@GetStatusIcon(TimeInGradeComplete)Time in Grade: @NextPromotionDifference(NextApprovalDate!.Value)</div>
</div>
