@page "/flights"
@inject IFlightService FlightService
@inject NavigationManager Navigation

@using CAPSquadron_SPA.Services

<h3>Flights</h3>

@if (flights == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        @foreach (var flight in flights.OrderBy(flt => flt.Name))
        {
            <div class="col-md-4 d-flex align-items-stretch">
                <div class="card mb-4 flex-fill">
                    <div class="card-body">
                        <h5 class="card-title">

                            <a @onclick="() => NavigateToFlight(flight.Id)" href="javascript:void(0);">@flight.Name</a>
                        </h5>
                        <p class="card-text">
                            <strong>Flight Commander:</strong>@flight.FlightCommander?.Rank @flight.FlightCommander?.Name <br>
                            <strong>Flight Sergeants:</strong>
                            <ul>
                                @foreach (var sergeant in flight.FlightSergeants)
                                {
                                    <li>@sergeant.Rank @sergeant.Name</li>
                                }
                            </ul>
                            <strong>Members:</strong>
                            <ul>
                                @foreach (var member in flight.Members.ToList().OrderBy(m=> m.Rank).ThenBy(m => m.Name))
                                {
                                    <li>@member.Rank @member.Name </li>
                                }
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {
    private IEnumerable<FlightDto> flights;

    protected override async Task OnInitializedAsync()
    {
        flights = await FlightService.GetFlightsAsync();
    }

    private void NavigateToFlight(int flightId)
    {
        Navigation.NavigateTo($"/flights/{flightId}");
    }
}

